<nav  style="background-color: rgb(7 ,94, 84);">
<a routerLink="/Chats" > <i class="fas fa-arrow-left" style="color: white; margin: 20px;"></i> </a> 

    <img class="private-img " src="assets/face.jpg" alt="" >
    <span class="name">Full Name</span>
    <span class="Date-and-time">Last seen</span>
    
    

      

       <span id="span-call"><a id="a-phone" href="tel:+963997910627"><i class="fas fa-phone-alt"></i></a></span>
       <span id="span-vedio"><i class="fas fa-video"></i></span>
      <div class="dropdown" style="position: absolute; right:30px ; top:0px; " >
        <button type="button" class="btn " data-bs-toggle="dropdown" style="position: absolute; left: 85%; top:0px; ">
            <i class="fa fa-ellipsis-v" style="color: white;"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" >View contact</a></li>
          <li><a class="dropdown-item" >Media, links, and docs</a></li>
          <li><a class="dropdown-item" >Search</a></li>
          <li><a class="dropdown-item" >Mute notification</a></li>
          <li><a class="dropdown-item" >Wallpaper</a></li>
          <li><a class="dropdown-item" >More</a></li>

        </ul>
      </div>
    </nav>
    <body  id="body" >
   <pre>
   
   </pre>
      <div style="position: fixed; bottom: 0%; width: 85%;">
     <form >
       <input id="input-message" type="text" class="form-control">
     </form>
   </div>
     
    </body>